{% extends 'base.html' %}

{% block title %} Catálogo de Serviços {% endblock %}

{% block content %}
<h1>Catálogo de Serviços</h1>
  <div class="card-servicos-container">
    {% for servico in servicos %}
    <div class="card-servicos">
      <img 
        src="{{ servico.foto_servico.url }}" 
        alt="{{ servico.nome }}" 
        class="servico-img"
      >
      <div class="servico-info">
        <strong>{{ servico.nome }}</strong>
        {% if servico.descricao %}
          <p>{{ servico.descricao }}</p>
        {% else %}
          <p>Sem descrição para o serviço.</p>
        {% endif %}
        <p>R$ {{ servico.preco }}</p>
        <button>clique aqui</button>
      </div>
    </div>
    {% empty %}
    <li class="list-group-item">Nenhum serviço disponível.</li>
    {% endfor %}
  </div>
{% endblock %}
